ESB/Configuracion/validarLineaCaptura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="validarLineaCaptura">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lc">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[a-zA-Z0-9]{20}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="request" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>