ESB/ProtocolosBancosContracts_Sources/LineaCapturaServicios/consultaTransaccionLineaReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0">
	<xs:element name="consultaTransaccion" type="consultaTransaccionReq" />
	<xs:complexType name="consultaTransaccionReq">
		<xs:sequence>
			<xs:element name="transaccion" type="xs:string" />
			<xs:element name="cFlujo" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
