ESB/ProtocolosBancosContracts_Sources/LineaCapturaServicios/consultaStatusLineaReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0">
	<xs:element name="Consulta" type="ConsultaReq" />
	<xs:complexType name="ConsultaReq">
		<xs:sequence>
			<xs:element name="cveBanco">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{5}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
