ESB/ProtocolosBancosContracts_Sources/WS_Pagos/WS_Pagos.wsdl

<?xml version="1.0" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions targetNamespace="http://impl.webservice.util.web.wspagos.ce.siat.sat.gob.mx/" name="WS_Pagos" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.webservice.util.web.wspagos.ce.siat.sat.gob.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.webservice.util.web.wspagos.ce.siat.sat.gob.mx/" schemaLocation="WS_Pagos_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validaLineaCaptura">
    <part name="parameters" element="tns:validaLineaCaptura"/>
  </message>
  <message name="validaLineaCapturaResponse">
    <part name="parameters" element="tns:validaLineaCapturaResponse"/>
  </message>
  <message name="WsPagosException">
    <part name="fault" element="tns:WsPagosException"/>
  </message>
  <message name="cobroDocumentoLineaCaptura">
    <part name="parameters" element="tns:cobroDocumentoLineaCaptura"/>
  </message>
  <message name="cobroDocumentoLineaCapturaResponse">
    <part name="parameters" element="tns:cobroDocumentoLineaCapturaResponse"/>
  </message>
  <message name="bloqueoLineaCaptura">
    <part name="parameters" element="tns:bloqueoLineaCaptura"/>
  </message>
  <message name="bloqueoLineaCapturaResponse">
    <part name="parameters" element="tns:bloqueoLineaCapturaResponse"/>
  </message>
  <message name="consultaEstatusLineaCaptura">
    <part name="parameters" element="tns:consultaEstatusLineaCaptura"/>
  </message>
  <message name="consultaEstatusLineaCapturaResponse">
    <part name="parameters" element="tns:consultaEstatusLineaCapturaResponse"/>
  </message>
  <message name="actualizaLC">
    <part name="parameters" element="tns:actualizaLC"/>
  </message>
  <message name="actualizaLCResponse">
    <part name="parameters" element="tns:actualizaLCResponse"/>
  </message>
  <message name="actualizarPedimentos">
    <part name="parameters" element="tns:actualizarPedimentos"/>
  </message>
  <message name="actualizarPedimentosResponse">
    <part name="parameters" element="tns:actualizarPedimentosResponse"/>
  </message>
  <message name="actualizarPedimentosIfx">
    <part name="parameters" element="tns:actualizarPedimentosIfx"/>
  </message>
  <message name="actualizarPedimentosIfxResponse">
    <part name="parameters" element="tns:actualizarPedimentosIfxResponse"/>
  </message>
  <message name="consultaLCparaIfx">
    <part name="parameters" element="tns:consultaLCparaIfx"/>
  </message>
  <message name="consultaLCparaIfxResponse">
    <part name="parameters" element="tns:consultaLCparaIfxResponse"/>
  </message>
  <portType name="WebServicePAGOS">
    <operation name="validaLineaCaptura">
      <input message="tns:validaLineaCaptura"/>
      <output message="tns:validaLineaCapturaResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="cobroDocumentoLineaCaptura">
      <input message="tns:cobroDocumentoLineaCaptura"/>
      <output message="tns:cobroDocumentoLineaCapturaResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="bloqueoLineaCaptura">
      <input message="tns:bloqueoLineaCaptura"/>
      <output message="tns:bloqueoLineaCapturaResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="consultaEstatusLineaCaptura">
      <input message="tns:consultaEstatusLineaCaptura"/>
      <output message="tns:consultaEstatusLineaCapturaResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="actualizaLC">
      <input message="tns:actualizaLC"/>
      <output message="tns:actualizaLCResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="actualizarPedimentos">
      <input message="tns:actualizarPedimentos"/>
      <output message="tns:actualizarPedimentosResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="actualizarPedimentosIfx">
      <input message="tns:actualizarPedimentosIfx"/>
      <output message="tns:actualizarPedimentosIfxResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
    <operation name="consultaLCparaIfx">
      <input message="tns:consultaLCparaIfx"/>
      <output message="tns:consultaLCparaIfxResponse"/>
      <fault message="tns:WsPagosException" name="WsPagosException"/>
    </operation>
  </portType>
  <binding name="WebServicePagosBinding" type="tns:WebServicePAGOS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="validaLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="cobroDocumentoLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="bloqueoLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaEstatusLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizaLC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarPedimentos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarPedimentosIfx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaLCparaIfx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsPagosException">
        <soap:fault name="WsPagosException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WS_Pagos">
    <port name="WebServicePagos" binding="tns:WebServicePagosBinding">
      <soap:address location="http://localhost:7101/WS_PAGOS/WS_Pagos"/>
    </port>
  </service>
</definitions>