ESB/ProtocoloBancosContracts/transaccionPagos.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="transaccionPagos" targetNamespace="http://impl.webservice.util.web.wstran.ce.siat.sat.gob.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.util.web.wstran.ce.siat.sat.gob.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="TransaccionWsPagosPortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://impl.webservice.util.web.wstran.ce.siat.sat.gob.mx/" schemaLocation="transaccionPagos_schema1.xsd"/>
</xsd:schema>
  </types>
  <message name="generaTransaccion">
    <part element="tns:generaTransaccion" name="parameters"/>
  </message>
  <message name="generaTransaccionResponse">
    <part element="tns:generaTransaccionResponse" name="parameters"/>
  </message>
  <message name="WsTransException">
    <part element="tns:WsTransException" name="fault"/>
  </message>
  <message name="guardaRespuestaTransaccion">
    <part element="tns:guardaRespuestaTransaccion" name="parameters"/>
  </message>
  <message name="guardaRespuestaTransaccionResponse">
    <part element="tns:guardaRespuestaTransaccionResponse" name="parameters"/>
  </message>
  <message name="consultaRespuestaTransaccion">
    <part element="tns:consultaRespuestaTransaccion" name="parameters"/>
  </message>
  <message name="consultaRespuestaTransaccionResponse">
    <part element="tns:consultaRespuestaTransaccionResponse" name="parameters"/>
  </message>
  <portType name="TransaccionWsPagos">
    <operation name="generaTransaccion">
      <input message="tns:generaTransaccion"/>
      <output message="tns:generaTransaccionResponse"/>
      <fault message="tns:WsTransException" name="WsTransException"/>
    </operation>
    <operation name="guardaRespuestaTransaccion">
      <input message="tns:guardaRespuestaTransaccion"/>
      <output message="tns:guardaRespuestaTransaccionResponse"/>
      <fault message="tns:WsTransException" name="WsTransException"/>
    </operation>
    <operation name="consultaRespuestaTransaccion">
      <input message="tns:consultaRespuestaTransaccion"/>
      <output message="tns:consultaRespuestaTransaccionResponse"/>
      <fault message="tns:WsTransException" name="WsTransException"/>
    </operation>
  </portType>
  <binding name="TransaccionWsPagosPortBinding" type="tns:TransaccionWsPagos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="generaTransaccion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsTransException">
        <soap:fault name="WsTransException" use="literal"/>
      </fault>
    </operation>
    <operation name="guardaRespuestaTransaccion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsTransException">
        <soap:fault name="WsTransException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaRespuestaTransaccion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WsTransException">
        <soap:fault name="WsTransException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="transaccionPagos">
    <port binding="tns:TransaccionWsPagosPortBinding" name="TransaccionWsPagosPort">
      <soap:address location="http://localhost:7101/TransaccionPagos/TransaccionWsPagosPort"/>
    </port>
  </service>
</definitions>