ESB/ProtocoloBancosContracts/transaccionPagos_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impl.webservice.util.web.wstran.ce.siat.sat.gob.mx/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://impl.webservice.util.web.wstran.ce.siat.sat.gob.mx/">
  <xsd:element name="ConsultaTransaccion" nillable="true" type="xsd:anyType"/>
  <xsd:element ibmSchExtn:docRoot="true" name="WsTransException" type="tns:WsTransException"/>
  <xsd:element ibmSchExtn:docRoot="true" name="consultaRespuestaTransaccion" type="tns:consultaRespuestaTransaccion"/>
  <xsd:element ibmSchExtn:docRoot="true" name="consultaRespuestaTransaccionResponse" type="tns:consultaRespuestaTransaccionResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="generaTransaccion" type="tns:generaTransaccion"/>
  <xsd:element ibmSchExtn:docRoot="true" name="generaTransaccionResponse" type="tns:generaTransaccionResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="guardaRespuestaTransaccion" type="tns:guardaRespuestaTransaccion"/>
  <xsd:element ibmSchExtn:docRoot="true" name="guardaRespuestaTransaccionResponse" type="tns:guardaRespuestaTransaccionResponse"/>
  <xsd:complexType name="generaTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="datosTransaccion" type="tns:datosTransaccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lc" type="xsd:string"/>
      <xsd:element name="cveFlujo" type="xsd:int"/>
      <xsd:element minOccurs="0" name="encriptacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generaTransaccionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaTransaccion" type="tns:respuestaTrans"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaTrans">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fecha" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
      <xsd:element minOccurs="0" name="numTransaccion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WsTransException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="error" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="texto" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaRespuestaTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consultaTransaccion" type="tns:consultaTransaccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaTransaccion">
    <xsd:sequence>
      <xsd:element name="transaccion" type="xsd:string"/>
      <xsd:element name="cFlujo" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaRespuestaTransaccionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaTransaccion" type="tns:respuestaConsultaTransaccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaConsultaTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaccion" type="xsd:string"/>
      <xsd:element name="cFlujo" type="xsd:int"/>
      <xsd:element minOccurs="0" name="cveRespuesta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respuestaEncripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="guardaRespuestaTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaTransaccion" type="tns:respTransaccionPagos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respTransaccionPagos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numTransaccion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respuesta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respuestaEncriptacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="guardaRespuestaTransaccionResponse">
    <xsd:sequence>
      <xsd:element name="estatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>