ESB/ProtocoloBancosContracts/Ws_EncripcionXml_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
--><xsd:schema targetNamespace="http://ws.web.cripto.matce.sat.gob.mx/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://ws.web.cripto.matce.sat.gob.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element ibmSchExtn:docRoot="true" name="desencriptarXml" type="tns:desencriptarXml"/>
<xsd:element ibmSchExtn:docRoot="true" name="desencriptarXmlResponse" type="tns:desencriptarXmlResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="encriptarXml" type="tns:encriptarXml"/>
<xsd:element ibmSchExtn:docRoot="true" name="encriptarXmlResponse" type="tns:encriptarXmlResponse"/>
<xsd:complexType name="desencriptarXml">
<xsd:sequence>
<xsd:element minOccurs="0" name="xmlEncriptado" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="desencriptarXmlResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="xmlLlano" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="encriptarXml">
<xsd:sequence>
<xsd:element minOccurs="0" name="xmlLlano" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="encriptarXmlResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="xmlEncriptado" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>